infinitygrid {
    display: table;
    height: 100%;
    width: 100%;
    border: 1px solid #808080;
    cursor: default;
}

.infinity-grid-header {
    background: linear-gradient(#fff, #d3d3d3);
}

.infinity-grid-header-cell {
    padding: 8px;
    display: inline-block;
}