infinitytable {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    cursor: default;
}

.infinity-table-container {
    width: 100%;
    position: relative;
}

.infinity-table-container .infinity-table-row {
    width: 100%;
    position: absolute;
    cursor: pointer;
}

.infinity-table-container .infinity-table-row.selected .infinity-table-cell {
    background-color: #99dde5;
}

.infinity-table-container .infinity-table-null-row {
    visibility: hidden;
}

.infinity-table-container .infinity-table-cell {
    overflow: hidden;
    border-right: 1px dotted #808080;
    border-top: 1px transparent;
    border-bottom: 1px transparent;
    padding: 4px;
}

.infinity-table-progressbar {
    position: absolute;
    left: 50%;
    top: 50%;
}

.infinity-table-progressbar .infinity-table-progressbar-inner {
    position: relative;
    left: -50%;
}